# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/insureai?retryWrites=true&w=majority
DB_NAME=insureai_db

# App Security & Settings
SECRET_KEY=insure_ai_super_secret_key_2026
UPLOAD_FOLDER=static/uploads
MAX_CONTENT_LENGTH=16777216
